.modalBackground {
  position: fixed;
  background-color: rgb(143, 143, 143);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  opacity: 0.959;
}

.modalContainer {
  background-color: rgb(255, 254, 254);
  box-shadow: 5px 5px 5px #555555;
  padding: 10px;
  border-radius: 10px;
  height: 300px;
  width: 300px;
}
#box-layout{
  background-color: #fff;
  padding: 10px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

 
}
